@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.carousel {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  height: 530px;
  width: 500px;
  overflow: hidden;
}

.image-container{
  display: flex;
  transform: translate(0);
  transition: transform 0.5s ease-in-out;
}

img {
  height: 500px;
  width: 500px;
  object-fit: cover;
}
.buttons-container{
  display: flex;
  justify-content: space-between;
  
}
.btn{
  background-color: rebeccapurple;
  color: #fff;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  width: 49.5%;
}
.btn:hover{
  opacity: 0.9;
}
.btn:focus{
  outline: none;
}
