@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.bg {
  background: url("pexels-roman-odintsov-4551832.jpg") no-repeat center
    center/cover;
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  filter: blur(0px);
  z-index: -1;
}
.loading-text {
  font-size: 50px;
  color: #fff;
}
