@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");
* {
  box-sizing: border-box;
}
body {
  background-color: #eafbff;
  background-image: linear-gradient(
    to bottom,
    #eafbff 0%,
    #eafbff 50%,
    #5290f9 50%,
    #5290f9
  );
  font-family: "Ubuntu", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
nav{
  background-color: #fff;
  border-radius: 3px;
  width: 80px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: width 0.6s linear;
}
nav.active{
  width: 350px;
}
nav ul{
  display: flex;

  list-style-type: none;
  width: 0;
  padding: 0;
  margin: 0;
  transition: width 0.6s linear;
}
nav.active ul{
  width: 100%;
}
nav ul li{
  transform: rotateY(0deg);
  opacity: 0;
  transition: width 0.6s linear, opacity 0.6s linear;
}
nav.active ul li{
  opacity: 1;
  transform: rotateY(360deg);
}
nav ul a{
  position: relative;
  color: #000;
  text-decoration: none;
  margin: 0 10px;
}
.icon{
  background-color: #fff;
  height: 30px;
  width: 30px;
  border: 0;
  cursor: pointer;
  padding: 0;
  position: relative;
}
.icon:focus{
  outline: none;
}
.icon .line{
  background-color: #5290f9;
  height: 2px;
  width: 20px;
  position: absolute;
  top: 10px;
  left: 5px;
 transition: transform 0.6s linear;
}
.icon  .line2{
  top: auto;
  bottom: 10px;
}
nav.active .icon .line1{
  transform: rotate(-765deg) translateY(5.5px);
}nav.active .icon .line2{
  transform: rotate(765deg) translateY(-5.5px);
}