@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");
* {
  box-sizing: border-box;
}
body {
  background-color: #efedd6;
  font-family: "Ubuntu", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  margin: 0;
}
h1 {
  margin: 10px;
}
.box {
  background-color: steelblue;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  transform: translateX(250%);
  transition: transform 0.4s ease;
  
}
.box:nth-of-type(even) {
  transform: translateX(-250%);
}
.box.show {
  transform: translateX(0);
}
.box h2{
    font-size: 45px;
}
